---

# Mount Azure File and Install Hana Studio on jumpbox

- name: Install cifs package
  package:
    name: cifs-utils 
    state: present

- name: Create azure fileshare credentials directory
  file:
    path: "/etc/smbcredentials"
    state: directory

- name: Create azure fileshare mount directory
  file:
    path: "{{ azure_files_mount_path }}"
    state: directory

- name: Create credentials file
  copy:
    content: |
      username={{ output.software.storage_account.name }}
      password={{ output.software.storage_account.storage_access_key }}
    dest: /etc/smbcredentials/{{ output.software.storage_account.name }}.cred
    mode: 600

- name: Mount storage for SAP bits on Jumpbox
  mount:
    path: "{{ azure_files_mount_path }}"
    fstype: cifs
    opts: "credentials=/etc/smbcredentials/{{ output.software.storage_account.name }}.cred,dir_mode=0755,file_mode=0755,serverino,defaults,nofail,vers=3.0"
    src: "//{{ output.software.storage_account.name }}.file.core.windows.net/sapmnt"
    state: mounted

- name: Create hdbstudio install path
  file:
   path: "{{ item }}"
   state: directory
  with_items:
   - "{{ hdbstudio_template_path }}"
   - "{{ hdbstudio_install_path }}"
 
- name: Create install template for HANA Studio
  template:
    src: hdbstudio.j2
    dest: "{{ hdbstudio_template_path }}/hdbstudio.cfg"

- name: Install HANA Studio
  shell: "{{ hdbstudio_software_loc }}/hdbinst --batch --configfile={{ hdbstudio_template_path }}/hdbstudio.cfg"
  args:
    chdir: "{{ hdbstudio_install_path }}"
  register: hdb_studio
  until: hdb_studio is succeeded
