
[Studio]

# Target path to which SAP HANA Studio repository should be copied
copy_repository=

# Java Runtime ( Default:  )
vm=

# Source path of SAP HANA Studio repository ( Default: )
repository=file:{{ hdbstudio_software_loc }}/studio/repository

# Installation Path ( Default:  )
path={{ hdbstudio_install_path }} 

# Feature
features=admin
